<!DOCTYPE html>
{% include 'navbar.html' %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" /> <!-- original: http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css -->
<style>
    div.ex1 {
      width: 80%;
      margin: auto;
      border: 3px solid #73AD21;
    }
    div.ex2 {
      padding-top: 10px;
      margin: auto;
      border: 3px solid #73AD21;
    }
    html, body, #container, #map {
      padding: 0;
      margin: 0;
    }
    html, body, #map, #container {
    height: 600px;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    .select_area {
      margin: 0 auto;
      display: block;
      text-align: center;
    }
    #button1, #button2, #button3{
      width: 200px;
      height: 40px;
      }


    </style>
  <meta charset="utf-8">
  <title></title>
  </head>
  <p></p>
  <body>
    {% load static %}
    <div class = "select_area">
      <button id = "button1" onclick = "reset()">Reset</button>
      <button id = "button2" onclick = "run_steps_2()">Run Vis</button>
      <select name="algorithm" id="algo" onchange="toggle()">
        <option value="ACO-B">ACO-Basic</option>
        <option value="ACO-B">ACO-Leaders</option>
        <option value="ACO-B">ACO-Astar-Local</option>
        <option value="DIJ">Dijkstra</option>
        <option value="DFS">Depth-first-search</option>
      </select>
    </div>
    <br>
    <div class = "select_area">
      <label for="quantity">Pheromone evaporate</label>
      <input type="number" id="quantity" name="quantity" value="0.8" step="0.05" min="0.05" max="1">
      <label for="quantity">Ant number</label>
      <input type="number" id="ant_q" name="ant_q" value="50" step="2" min="2" max="100">
      <label for="eva_q">Fitness evaluations</label>
      <input type="number" id="eva_q" name="eva_q" value="10" step="5" min="10" max="200">
      <label>Speed</label>
      <input id='speed_id' name='speed' type="range" value="15" min="1" max="199" onchange="speed_set()">
      <br>
      <br>
      <div id="cont">
        <label class="switch">
          <input type="checkbox">
          <span class="slider" id="multipath" onclick="toggle_ant_paths()"></span>
        </label>
      </div>
    </div>

    <div class="ex2">
      <div class="ex1">
            <div id="map"></div>
      </div>
    </div>

    <div class="ex2">
      <div class="ex1">
          <canvas id="myChart" style = "max-height:500px; "></canvas>
      </div>
      </div>


  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/0.6.6/chartjs-plugin-zoom.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>
  <script type="text/javascript">


    var tileLayer = new L.TileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png',{
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
    });

    var arr = [[]];
    var bbox = {{bbox}};
    var isPaused = false;
    var final = false;
    var graph_ev = [];
    var toggle_antPath_num = false;
    var speed = 0
    var increment = 0;
    var colors = [];
    var dataset_num = -1
    speed_set();



    var polygonLines = L.markerClusterGroup({interactive: false})
    var antMarkergroup = L.markerClusterGroup({interactive: false})
    var cirLines = L.layerGroup()


    var map = new L.Map('map', {
      'center': [51.75350586724182, -1.80169538827613],
      'zoom': 10,
      'layers': [tileLayer],
      maxZoom: 19,
      minZoom: 2,
      max_bounds : 'True',
      selectArea: true ,
    });

    const ctx = document.getElementById("myChart");
    const chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [],
        datasets: []
      },
      options: {
        responsive: true,
        title: {
          display: true,
          text: "Fitness through evaluations",
        },
        legend: {
          display: true
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
            }
          }]
        },
        pan: {
          enabled: true,
          mode: "y",
          speed: 100,
          threshold: 10
         },
         zoom: {
           enabled: true,
           drag: false,
           mode: "y",
           speed: 0.1,
           limits: {
              y: {min: 0, max: 100},
              y2: {min: -5, max: 5}
            },
         },
       },
    });



    if(bbox.length != 0){
        map.fitBounds(bbox)
        var newMarker = new L.marker({{origin}}).addTo(map)
        var newMarker = new L.marker({{dest}}).addTo(map)

        var LeafIcon = L.Icon.extend({
          options: {
              iconSize:     [15, 15],
              iconAnchor:   [7, 7.5],
          }
        });

        var antIcon = new LeafIcon({iconUrl: '../static/images/ant.svg'});

        var antMarker = new L.marker({{origin}}, {icon: antIcon}).addTo(antMarkergroup).addTo(map);

        var bounds = [[bbox[1], bbox[0]], [bbox[3], bbox[2]]];

        // create an orange rectangle
        L.rectangle(bounds, {color: "#ff7800", weight: 1, clickable : false, hover: false}).addTo(map);
    }


    function graph_add_dataset(algorithm, eval_num){
      colour_dataset = []
      var color = Math.floor((Math.random()*1000000)+1);
      colour_dataset.push("#" + ("000000" + color.toString(16)).slice(-6));


      var datasets = {
          fill: false,
          label: algorithm,
          lineTension: 0,
          backgroundColor: colour_dataset[0],
          borderColor: colour_dataset[0],
          data: []
        }

      chart.data.datasets.push(datasets);
      var curr_eval_num = chart.data.labels.length
      if(eval_num > curr_eval_num){
        for (var i = curr_eval_num; i < eval_num; i++) {
          chart.data.labels.push(i)
        }
      }
      chart.update();
      dataset_num ++
    }


    function chart_update(resp){
      if(!final){
        if(resp.runType == false){
          // chart.data.labels.push(label);
          chart.data.datasets[dataset_num].data.push(resp.fitness);
          chart.update();
        }else{
          var curr_eval_num = chart.data.labels.length
          for (var i = 0; i < curr_eval_num; i++) {
            chart.data.datasets[dataset_num].data.push(resp.fitness);
          }
          chart.update();
        }
      }
    }

  function reset(){
    isPaused = false;
    final = false;
    graph_ev = [];
    try{
      polygonLines.clearLayers()
      polygonLines.setStyle({ color: 'blue'  });
    }catch{
      console.log("No lines to clear")
    }
    try{
      cirLines.clearLayers()
      antMarker.setLatLng({{origin}})
    }catch{
      console.log("No lines to clear")
    }

    $.ajax({
            url: "/reset_path",
            type: 'get',
        })
    //location.reload()
  }

  function speed_set(){
    speed = document.getElementById('speed_id').value
    speed = Math.round(200-speed)
    if (speed > 150){
      increment = 5;
      increment_over = increment-1
    }else if(speed > 100){
        increment = 10;
        increment_over = increment-1
    }else if (speed > 50){
        increment = 15;
        increment_over = increment-1
    }else{
      increment = 20;
      increment_over = increment-1
    }
    console.log(speed);
  }

  function toggle(){
    var cont = document.getElementById('cont');
    var e_a = document.getElementById("algo");
    var algorithm = e_a.options[e_a.selectedIndex].text;
    console.log(algorithm)
    if (algorithm == 'ACO-Basic'){
        cont.style.display = 'block';
    }else if (algorithm == 'ACO-Leaders') {
      cont.style.display = 'block';
    }else if (algorithm == 'ACO-Astar-Local'){
      cont.style.display = 'block';
    }else{
      cont.style.display = 'none';
      if(toggle_antPath_num){
        $('#multipath').click()
      }
    }
  }


  function toggle_ant_paths(){
    toggle_antPath_num = !toggle_antPath_num
    console.log(toggle_antPath_num)
  }

  function path_finish(){
    $.ajax({
            url: "/path_finish",
            type: 'get',
        })
    isPaused = false;
  }



  function delay(time) {
    return new Promise(resolve => setTimeout(resolve, time));
  }

  function evaporate(){
    for (var i = 0; i < (graph_ev.length/1.7); i++) {
      polygonLines.removeLayer(graph_ev[i])
    }

  }

  async function show_points(){
      for (var i = 0; i < arr.length; i++) {
        await delay(speed);
        var new_sarr = arr[i];
        var cir = L.circle(new_sarr, 2)
        cirLines.addLayer(cir)
        cirLines.addTo(map)
      }
      path_finish()
  }


    async function run_steps(resp) {
      if (arr.length > 0){
        if(resp.runType == false){
          if(resp.path_num){
            for (var i = 0; i < arr.length; i++) {
              var break_arr = arr[i]
              for (var j = 0; j < break_arr.length; j+=increment_over) {
                await delay(speed);
                var new_arr = break_arr.slice(j, j+increment);
                drawDottedLine(new_arr, colors[i])
            }
          }
            if(!final){
              evaporate()
            }
          }else{
            for (var i = 0; i < arr.length; i+=increment_over) {
              await delay(speed);
              var new_arr = arr.slice(i, i+increment);
              drawDottedLine(new_arr, colors[0])
            }
          }
          if(!final){
            evaporate()
          }
          path_finish()
        }else{
          show_points()
      }
    }
  }

    function drawDottedLine(points, cc){
      if (!final){
        var polyline = new L.polyline(points)
        graph_ev.push(polyline)
        polyline.setStyle({color: cc, opacity: 0.1});
        polyline.addTo(polygonLines);
      }else{
        var polyline = new L.polyline(points)
        graph_ev.push(polyline)
        polyline.setStyle({color: 'red', opacity: 0.9});
        polyline.addTo(polygonLines);
      }
      polygonLines.addTo(map) //add to map above
      antMarker.setLatLng(points.at(-1))
    }

    function run_steps_2(){
      if (bbox.length != 0){
        reset()
        var e_a = document.getElementById("algo");
        var algorithm = e_a.options[e_a.selectedIndex].text;
        var e_pe = document.getElementById("quantity").value;
        var ant_num  = document.getElementById("ant_q").value;
        var eva_q = document.getElementById('eva_q').value;

        while (colors.length < Math.round(ant_num*0.1)) {
            do {
                var color = Math.floor((Math.random()*1000000)+1);
            } while (colors.indexOf(color) >= 0);
            colors.push("#" + ("000000" + color.toString(16)).slice(-6));
        }
        console.log(colors);

        graph_add_dataset(algorithm, eva_q)

        $.ajax({
                url: "/path_start",
                type: 'get',
                data: {'a_type': algorithm,
                       'evap_val': e_pe,
                       'ant_num': ant_num,
                       'eval_num': eva_q,
                       'path_toggle': toggle_antPath_num

                     }
            })
        var t = window.setInterval(function() {
          if(!isPaused) {
            fetch('../api_pointUpdate')
            .then(response => response.json())
            .then(resp => {
            if (resp.done){
                 console.log("FIN")
                 window.clearInterval(t);
                 final = true;
                 arr = resp.array;
                 run_steps(resp);
                 chart_update(resp);
            }else{
              if (resp.running){
                if(resp.array.length == 0){
                  $.ajax({
                          url: "/path_finish",
                          type: 'get',
                      })
                  isPaused = false;
                }else{
                  arr = resp.array;
                  isPaused = true;
                  run_steps(resp);
                  chart_update(resp);
                }
              }
            }
          });
        }
      }, 300);
    }
  }


</script>
</html>
